.square{
    height:30px;
    width: 30px;
    border: 1px solid black;
    background-color: white;
}

.row{
    display: flex;;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

.light-blue {
    background-color: #add8e6;
  }
  
  .dark-blue {
    background-color: #0000cd;
  }